force-app/main/default/flows/Campaign_AddDedupedContacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Contacts_to_Campaign</name>
        <label>Add Contacts to Campaign</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>FlowReportToCampaignService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Campaign_Member_Count</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>campaignId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reportId</name>
            <value>
                <elementReference>Select_a_report.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowReportToCampaignService</nameSegment>
        <outputParameters>
            <assignToReference>campaignMembersCreated</assignToReference>
            <name>campaignMembers</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Campaign_Member_Count</name>
        <label>Set Campaign Member Count</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>numCampaignMembersAdded</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>campaignMembersCreated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
    </assignments>
    <description>Select a report with Contact ID and Mobile Phone columns to create campaign members with unique mobile numbers</description>
    <dynamicChoiceSets>
        <name>recChoiceCampaigns</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Campaign</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoiceReports</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Report</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Add Deduped Contacts to Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign AddDedupedContacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Input_Screen</name>
        <label>Input Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Contacts_to_Campaign</targetReference>
        </connector>
        <fields>
            <name>Input_Screen_Message</name>
            <fieldText>&lt;p&gt;Select a report where the Contact ID is in the first column and the Mobile Number is in the second column.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_a_report</name>
            <choiceReferences>recChoiceReports</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select a report</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Search by report name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen</name>
        <label>Thank You Screen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thank_You_Screen_Message</name>
            <fieldText>&lt;p&gt;Success! {!numCampaignMembersAdded} Campaign Members have been added.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>numCampaignMembersAdded</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Thank_You_Screen_Message_No_Results</name>
            <fieldText>&lt;p&gt;There were no additional unique phone numbers to add to the campaign.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>numCampaignMembersAdded</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>campaignMembersCreated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>numCampaignMembersAdded</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
</Flow>
