force-app/main/default/flows/Campaign_AddDedupedContacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Find_Unique_Contacts</name>
        <label>Find Unique Contacts</label>
        <locationX>468</locationX>
        <locationY>1214</locationY>
        <actionName>FlowReportToCampaignService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Campaign_Member_Count</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>campaignId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactIdColumn</name>
            <value>
                <elementReference>Contact_ID_Report_Column</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactPhoneField</name>
            <value>
                <elementReference>Contact_Phone_Field</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumberColumn</name>
            <value>
                <elementReference>Phone_Number_Report_Column</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reportId</name>
            <value>
                <elementReference>Select_a_Report.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowReportToCampaignService</nameSegment>
        <outputParameters>
            <assignToReference>campaignMembers</assignToReference>
            <name>campaignMembers</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Contact_Fields</name>
        <label>Get Contact Fields</label>
        <locationX>1007</locationX>
        <locationY>134</locationY>
        <actionName>FlowSObjectDescriber</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Filter_Fields</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sObjectApiName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowSObjectDescriber</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Report_Columns</name>
        <label>Get Report Columns</label>
        <locationX>468</locationX>
        <locationY>782</locationY>
        <actionName>FlowReportColumnSelector</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Filter_to_ID_Columns</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>reportId</name>
            <value>
                <elementReference>Select_a_Report.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowReportColumnSelector</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Campaign_Member_Count</name>
        <label>Set Campaign Member Count</label>
        <locationX>468</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>numCampaignMembers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>campaignMembers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Number_of_Campaign_Members</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Fields</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Fields</label>
        <locationX>1007</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_Filter_Fields</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contact_Fields.fields</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Fields.dataType</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>PHONE</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Fields.dataType</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>STRING</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Sort_Fields</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_to_ID_Columns</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to ID Columns</label>
        <locationX>468</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_Filter_to_ID_Columns</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Report_Columns.reportColumnOptions</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_ID_Columns.dataType</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>String</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_to_ID_Columns.dataType</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Id</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_to_Phone_Columns</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_to_Phone_Columns</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to Phone Columns</label>
        <locationX>468</locationX>
        <locationY>998</locationY>
        <assignNextValueToReference>currentItem_Filter_to_Phone_Columns</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Report_Columns.reportColumnOptions</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_Phone_Columns.dataType</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>String</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_to_Phone_Columns.dataType</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Phone</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Column_Mapping_Screen</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Limit_Collection_Size</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Limit Collection Size</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>campaignMembers</collectionReference>
        <connector>
            <targetReference>Insert_Campaign_Members</targetReference>
        </connector>
        <limit>10000</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>ContactId</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Fields</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Fields</label>
        <locationX>1007</locationX>
        <locationY>350</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Filter_Fields</collectionReference>
        <connector>
            <targetReference>Get_Reports</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>label</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <constants>
        <name>DML_LIMIT</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10000.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_Too_Many_Records</name>
        <label>Check for Too Many Records</label>
        <locationX>182</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Insert_Campaign_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Too_Many_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numCampaignMembers</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>DML_LIMIT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Limit_Collection_Size</targetReference>
            </connector>
            <label>Has Too Many Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Reports</name>
        <label>Check Get Reports</label>
        <locationX>1007</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reports Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Reports</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reports</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Report_Selection_Screen</targetReference>
            </connector>
            <label>Got Reports</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Number_of_Campaign_Members</name>
        <label>Check Number of Campaign Members</label>
        <locationX>468</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Campaign_Members_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Campaign Members Not Found</defaultConnectorLabel>
        <rules>
            <name>Has_Campaign_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numCampaignMembers</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Before_Insert_Screen</targetReference>
            </connector>
            <label>Has Campaign Members</label>
        </rules>
    </decisions>
    <description>Select a report with Contact ID and Mobile Phone columns to create campaign members with unique mobile numbers</description>
    <dynamicChoiceSets>
        <name>collChoiceContactFields</name>
        <collectionReference>Filter_Fields</collectionReference>
        <dataType>String</dataType>
        <displayField>labelAndName</displayField>
        <object xsi:nil="true"/>
        <valueField>name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>collChoiceReportColumnsIds</name>
        <collectionReference>Filter_to_ID_Columns</collectionReference>
        <dataType>String</dataType>
        <displayField>labelAndDataType</displayField>
        <object xsi:nil="true"/>
        <valueField>name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>collChoiceReportColumnsPhone</name>
        <collectionReference>Filter_to_Phone_Columns</collectionReference>
        <dataType>String</dataType>
        <displayField>labelAndDataType</displayField>
        <object xsi:nil="true"/>
        <valueField>name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>collChoiceReports</name>
        <collectionReference>Get_Reports</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Report</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoiceCampaigns</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Campaign</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoiceReports</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Report</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Add Deduped Contacts to Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Campaign AddDedupedContacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Campaign_Members</name>
        <label>Insert Campaign Members</label>
        <locationX>182</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Thank_You_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>campaignMembers</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Reports</name>
        <label>Get Reports</label>
        <locationX>1007</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Reports</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Report</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Campaign_Members_Not_Found_Screen</name>
        <label>Campaign Members Not Found Screen</label>
        <locationX>754</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Campaign_Members_Not_Found_Screen_Message</name>
            <fieldText>&lt;p&gt;No unique contacts were found.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Column_Mapping_Screen</name>
        <label>Column Mapping Screen</label>
        <locationX>468</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Find_Unique_Contacts</targetReference>
        </connector>
        <fields>
            <name>Column_Mapping_Screen_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Map Report Columns to Contact Fields&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_ID_Section_Header</name>
            <fieldText>Contact ID</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_ID_Section_Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_ID_Report_Column</name>
                    <choiceReferences>collChoiceReportColumnsIds</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Contact ID Report Column</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_ID_Section_Header_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_ID_Section_Header_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_ID_Field</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Id</stringValue>
                    </defaultValue>
                    <fieldText>Contact ID Field</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Phone_Number_Section_Header</name>
            <fieldText>Phone Number</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Phone_Number_Section_Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone_Number_Report_Column</name>
                    <choiceReferences>collChoiceReportColumnsPhone</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Phone Number Report Column</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Phone_Number_Section_Header_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Phone_Number_Section_Header_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_Phone_Field</name>
                    <choiceReferences>collChoiceContactFields</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Contact Phone Field</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;For any existing campaign members, this field will be used to check for duplicates against the phone numbers in the second column of the report.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Find Unique Contacts</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_Before_Insert_Screen</name>
        <label>Confirm Before Insert Screen</label>
        <locationX>182</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_for_Too_Many_Records</targetReference>
        </connector>
        <fields>
            <name>Confirm_Before_Insert_Message_One</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!numCampaignMembers} unique contact was found. Are you sure you would like to add them to the {!recordId.Name} campaign?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>numCampaignMembers</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirm_Before_Insert_Message_Multiple</name>
            <fieldText>&lt;p&gt;{!numCampaignMembers} unique contacts were found. Are you sure you would like to add them to the {!recordId.Name} campaign?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>numCampaignMembers</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DML_Limit_Note</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(179, 0, 0);&quot;&gt;Note: Your report has over 10,000 unique contacts. Only the first 10,000 records will be added to the campaign.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>numCampaignMembers</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>10000.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Add Campaign Members</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>490</locationX>
        <locationY>2054</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen_Message</name>
            <fieldText>&lt;p&gt;Hmm... something went wrong. Please pass the error message along to your system administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fault_Message_Display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Error: &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(186, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Report_Selection_Screen</name>
        <label>Report Selection Screen</label>
        <locationX>468</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Report_Columns</targetReference>
        </connector>
        <fields>
            <name>Select_a_Report</name>
            <choiceReferences>collChoiceReports</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select a tabular report with rows of contacts</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Search by Report Name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_You_Screen</name>
        <label>Thank You Screen</label>
        <locationX>182</locationX>
        <locationY>2054</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thank_You_Screen_Message</name>
            <fieldText>&lt;p&gt;Success! {!numCampaignMembers} Campaign Members have been added.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>numCampaignMembers</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Thank_You_Screen_Message_Single</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Success! {!numCampaignMembers} Campaign Members was added.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>numCampaignMembers</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>881</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>arrow</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;➡️&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>campaignMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Fields</name>
        <apexClass>SObjectFieldOption</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_to_ID_Columns</name>
        <apexClass>ReportColumnOption</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_to_Phone_Columns</name>
        <apexClass>ReportColumnOption</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>numCampaignMembers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
</Flow>
